* {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
}
html, body { height: 100%; }

div.page {
  width: 100%;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: white;
}

#welcome, #work {
  background: radial-gradient(circle, rgba(70,63,63,1) 2%, rgba(38,34,34,1) 90%);
}
#welcome h1, #work h1 {
  color: #F94F4F;
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 60px;
  margin-top: -50px;
}
#footer {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
}
#footer ul {
  list-style-type: none;
  font-size: 25px;
}
#footer li {
  width: 120px;
  font-weight: lighter;
  display: inline-block;
}
#footer li a {
  color: #F94F4F;
  text-decoration: none;
}
#footer li a:hover {
  text-decoration: underline;
}

#heading1 {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0; left: 0;
  background: rgba(223, 76, 76, 0.9);
}
#heading1 h1 {
  font-size: 30px;
  font-weight: lighter;
  color: #dddddd;
  text-align: center;
  width: 100%;
  height: 100px;
  top: 50%; left: 0;
  position: absolute;
  margin-top: -50px;
  letter-spacing: 1px;
}
#aboutme ul {
  position: absolute;
  top: 5%;
  left: 40%;
  padding:0;
  width: 50%;
  margin-right: auto;
  list-style-type: none;
  border-bottom: 1px solid #aaaaaa;
}
#aboutme ul li {
  font-size: 18px;
  line-height: 120%;
  padding-bottom: 20px;
}
#process {
  left: 40%;
  width: 50%;
  bottom: 0;
  padding-bottom: 20px;
  position: absolute;
}
#process img {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 20px;
}
#process h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  font-size: 20px;
  font-weight: lighter;
  color: #F94F4F;
  text-align: center;
  padding-bottom: 20px;
}

#work {
  padding-bottom: 50px;
}
#work h1 {
  margin-top: 0;
  font-size: 33px;
  position: static;
  padding-top: 30px;
  letter-spacing: 3px;
}
#work ul {
  width: 60%;
  margin: auto;
  padding: 0;
  padding-bottom: 60%;
  list-style-type: none;
}
#work ul li {
  width: 40%;
  margin: 5%;
  float: left;
  cursor: pointer;
  position: relative;
  padding-bottom: 40%;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 3px;
}
#work ul li img {
  position: absolute;
  margin: 1.5%;
  width: 97%;
  height: 97%;
}
