@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";

@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url(fonts/fontawesome-webfont.eot?v=4.6.3);
  src: url(fonts/fontawesome-webfont.eot?#iefix&v=4.6.3) format('embedded-opentype'),
    url(fonts/fontawesome-webfont.woff2?v=4.6.3) format('woff2'),
    url(fonts/fontawesome-webfont.woff?v=4.6.3) format('woff'),
    url(fonts/fontawesome-webfont.ttf?v=4.6.3) format('truetype');
}


/*-------RESET & CLEARFIX-------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,figure,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

ol, ul  { list-style: none; }
:focus  { outline: 0; }

/* deleting the default appearence for form elements */
input[type=text], input[type=password], input[type=submit], input[type=number], input[type=button], textarea, button, select { -moz-appearance: none; -webkit-appearance: none; }

/* HTML5 display definitions */
article, aside, details, figure, footer, header, hgroup, menu, nav, section, dialog { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }
[hidden] { display: none; visibility: hidden; }

.clearfix::after { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }
.clearfix { *display: inline-block; height: 1%; }
.clear { clear: both; display: block; font-size: 0;	height: 0; line-height: 0; width:100%; }
.is-scrolling, .is-scrolling * { pointer-events: none; }


html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
	position: relative;
}

body {
  color: #000;
  height: 100%;
  font-size: 14px;
  min-height: 100%;
  text-align: left;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.5em;
  position: relative;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body.preloaded { height: auto; overflow: auto; }
body > div#page-content { display: none; pointer-events: none; }
body.hideloading > div#page-loader { display: none; }
body.hideloading > div#page-content { pointer-events: auto; }
body.preloaded > div#page-content, body.loading-full > div#page-content { display: block; }

/*-------PAGE LOADER-------*/
#page-loader {
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  position: fixed;
  text-align: left;
  top: 0; left: 50%;
  max-width: 1024px;
  text-transform: lowercase;
  -webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
#page-loader .hidden { opacity: 0; visibility: hidden; width: 0; height: 0; }

/* Name / Logo */
#page-loader .name > h1 {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0) 0.65s;
	-moz-transition: opacity 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0) 0.65s;
  -o-transition: opacity 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0) 0.65s;
  transition: opacity 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0) 0.65s;
}
#page-loader .name {
  z-index: 2;
  margin-top: -30px;
	position: absolute;
  top: 50%; width: 100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 36px;
	font-weight: 400;
	line-height: 30px;
}
body.loaded #page-loader .name > h1 { opacity: 1; visibility: visible; }
#page-loader .name > div { display: inline-block; }
#page-loader .name .lastname { margin-left: 5px; }
#page-loader .name .firstname > span, #page-loader .name .lastname > span {
  position: relative;
	opacity: 0; top: 7px;
	-webkit-transition: all 699ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
	-moz-transition: all 699ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
  -o-transition: all 699ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
  transition: all 699ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
}

body.loaded #page-loader .name .firstname > span, body.loaded #page-loader .name .lastname > span { opacity: 1; top: 0px; }
body.loaded #page-loader .name .firstname > span:nth-child(2)  { transition-delay: 0.05s; }
body.loaded #page-loader .name .firstname > span:nth-child(3)  { transition-delay: 0.1s; }
body.loaded #page-loader .name .firstname > span:nth-child(4)  { transition-delay: 0.15s; }
body.loaded #page-loader .name .firstname > span:nth-child(5)  { transition-delay: 0.2s; }
body.loaded #page-loader .name .firstname > span:nth-child(6)  { transition-delay: 0.25s; }
body.loaded #page-loader .name .firstname > span:nth-child(7)  { transition-delay: 0.30s; }
body.loaded #page-loader .name .lastname > span:nth-child(1)  { transition-delay: 0.5s; }
body.loaded #page-loader .name .lastname > span:nth-child(2)  { transition-delay: 0.55s; }
body.loaded #page-loader .name .lastname > span:nth-child(3)  { transition-delay: 0.6s; }
body.loaded #page-loader .name .lastname > span:nth-child(4)  { transition-delay: 0.65s; }
body.loaded #page-loader .name .lastname > span:nth-child(5)  { transition-delay: 0.7s; }
body.loaded #page-loader .name .lastname > span:nth-child(6)  { transition-delay: 0.75s; }

#page-loader .load-seq {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
	position: absolute;
  top: 50%; width: 100%;
}
#page-loader .load-seq.desc { font-size: 30px; line-height: 30px; }
#page-loader .load-seq.work-scope { top: auto; bottom: 140px; }
#page-loader .load-seq.scroll { top: auto; bottom: 45px; }
#page-loader .load-seq > p {
  position: relative;
	opacity: 0; top: 15px;
	-webkit-transition: all 999ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
	-moz-transition: all 999ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
  -o-transition: all 999ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
  transition: all 999ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
}
#page-loader .work-scope > p > span:not(:last-of-type):after {
  content: '';
  margin: 0 15px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 2px; height: 2px;
  background-color: #fff;
}
body.loaded #page-loader .load-seq > p { opacity: 1; top: 0px; }
body.loaded #page-loader .desc > p { transition-delay: 1.35s; }
body.loaded #page-loader .work-scope > p { transition-delay: 1.55s; }
body.loaded #page-loader .scroll > p { transition-delay: 1.75s; text-align: center; }

#page-loader .scroll a { text-decoration: none; font-size: 14px; color: inherit; display: inline-block; opacity: 0.5; }
#page-loader .scroll a > span::after {
  content: '\f107';
  display: block;
	font-family: FontAwesome;
	font-size: 18px;
  margin-top: -6px;
  text-align: center;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


/*-------WORKS-------*/
#page-content {
  height: 420px;
  position: fixed;
  max-width: 1122px;
  margin-top: -210px;
  top: 50%; left: 50%;
  width: calc(100% - 40px);
  -webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
#worklist { float: right; max-width: 840px; margin-top: -9px; }
#worklist ul > li > a {
  height: 26px;
  display: block;
	color: #b3b3b3;
  padding: 9px 0;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: color 0.56s ease;
	-moz-transition: color 0.56s ease;
  -o-transition: color 0.56s ease;
	transition: color 0.56s ease;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
#worklist ul > li > a::after { content: ""; display: block; clear: both; visibility: hidden; font-size: 0; height: 0; }
#worklist ul li a > span { float: right; display: block; text-align: left; vertical-align: middle; overflow: hidden; }
#worklist ul li a > span.title { width: 180px; font-size: 22px; line-height: 26px; padding: 0; margin-top: -1px; }
#worklist ul li a > span.prefix { width: 50px; font-size: 12px; line-height: 14px; padding: 7px 0 3px; }
#worklist ul li a > span.scope {
  float: none;
  padding: 3px 0;
  font-size: 16px;
  overflow: hidden;
  text-align: right;
  line-height: 18px;
  visibility: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}
#worklist ul li.hover a { color: #000 !important; }
#worklist ul li.hover a > span.scope { visibility: visible; }

/* work infos */
#workinfos {
  float: left;
  width: 282px;
  height: 100%;
  position: relative;
}
#workinfos > ul {
  display: none;
  position: absolute;
  top: 0;  bottom: 0;
  left: 0;  right: 0;
  pointer-events: none;
}
#workinfos > ul > li { width: 100%; height: 100%; }
#workinfos > ul > li {
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#workinfos > ul > li.active , body.preloaded #workinfos > ul { display: block !important; }

div.project-details {
  z-index: 50;
  padding: 50px 0;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 1);
}
div.project-details > a {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
}
div.project-details > a.close, div.project-details > a.download {
  right: 20px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;

}
div.project-details > a.close { top: 20px; background-image: url(img/close.svg); background-size: contain; }
div.project-details > a.download { top: 60px; background-image: url(img/download.svg); background-size: 70%; }
div.project-details > a:not(.close):not(.download) {
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  text-rendering: auto;
  font-family: FontAwesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
div.project-details.single > a.prev { left: 10px; }
div.project-details.single > a.next { right: 10px; }
div.project-details.single > a.prev:before { content: '\f104'; }
div.project-details.single > a.next:before { content: '\f105'; }
div.project-details.single > a.disabled { display: none; }

div.project-details > div.inner {
  margin: 0 auto;
  max-width: 1024px;
  width: calc(100% - 60px);
}
div.project-details.single > div.inner {
  height: 100%;
  max-width: none;
  cursor: zoom-in;
  max-height: 100%;
  position: relative;
  width:calc(100% - 120px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.project-details.single > div.inner.full { cursor: default; }
div.project-details.single > div.inner.expanded ~ a { display: none; }
div.project-details.single > div.inner.expanded { cursor: zoom-out; max-height: none; }
div.project-details > div.inner > div, div.project-details > div.inner > div > img {
  width: 100%;
  display: block;
  cursor: zoom-in;
  position: relative;
}
div.project-details > div.inner video { background: #fff; }
div.project-details > div.inner video, div.project-details > div.inner video + div.play-btn { position: absolute; border: 1px solid #eaeaea; }
div.project-details > div.inner video + div.play-btn  { background: url(img/play-btn.png) no-repeat center; background-size: 7.5%; }
div.project-details > div.inner video + div.play-btn.playing { background: transparent; }
div.project-details.single > div.inner.expanded > video { transform: none !important; }
div.project-details.single > div.inner.expanded > div.play-btn { transform: none !important; background-size: 7.5% !important; }


div#about {
  height: 100%;
  display: flex;
  color: #808080;
  font-size: 14px;
  font-weight: 200;
  flex-flow: column;
  line-height: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
div#about > p + p { margin-top: 20px; }
div#about a { color: inherit; text-decoration: none; }
div#about a:hover { color: #000; text-decoration: underline; }
div#about p.footer > a { line-height: 1.75em; text-decoration: underline; }
div#about > div.name { flex: 1; position: relative; }
div#about > div.name > span {
  position: absolute;
  top: 50%; left: 0; right: 0;
  -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
div#about > div.name h1 {
  color: #4a4a4a;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5em;
  text-transform: lowercase;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* name, desc, scroll */
body::after {
  z-index: -1;
	content: "";
	position: fixed;
  left: 0; right: 0;
	top: 100%; height: 100%;
	-webkit-transition: top 599ms cubic-bezier(0.4, 0.4, 0.000, 1.0) .05s;
	-moz-transition: top 599ms cubic-bezier(0.4, 0.4, 0.000, 1.0) .05s;
  -o-transition: top 599ms cubic-bezier(0.4, 0.4, 0.000, 1.0) .05s;
  transition: top 599ms cubic-bezier(0.4, 0.4, 0.000, 1.0) .05s;
}

body.hideloading::after { top: 0px; }
body.hideloading #page-loader .name,
body.hideloading #page-loader .load-seq > p {
	-webkit-transition: all 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
	-moz-transition: all 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
  -o-transition: all 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
  transition: all 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
	opacity: 0;
	visibility: hidden;
	top: calc(50% - 70px);
}

body.hideloading #page-loader .load-seq > p { top: -50px; }
body.hideloading #page-loader .desc > p { transition-delay: 0.05s; }
body.hideloading #page-loader .work-scope > p { transition-delay: 0.07s; }
body.hideloading #page-loader .scroll > p { transition-delay: 0.12s; }

/* worklist  */
#page-content {
	opacity: 0;
	visibility: hidden;
  -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
body.hideloading #page-content { opacity: 1; visibility: visible;  }

#page-content #about, #worklist ul li  {
	-webkit-transition: all 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
	-moz-transition: all 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
  -o-transition: all 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
  transition: all 799ms cubic-bezier(0.4, 0.4, 0.000, 1.0);
	opacity: 0;
	visibility: hidden;
	position: relative;
	top: 15px;
}

body.hideloading #page-content #about, body.hideloading #worklist ul li { opacity: 1; visibility: visible; top: 0px; }
body.hideloading #page-content #about          { transition-delay: 0.5s; }
body.hideloading #worklist ul li:nth-child(1)  { transition-delay: 0.3s; }
body.hideloading #worklist ul li:nth-child(2)  { transition-delay: 0.35s; }
body.hideloading #worklist ul li:nth-child(3)  { transition-delay: 0.4s; }
body.hideloading #worklist ul li:nth-child(4)  { transition-delay: 0.45s; }
body.hideloading #worklist ul li:nth-child(5)  { transition-delay: 0.5s; }
body.hideloading #worklist ul li:nth-child(6)  { transition-delay: 0.55s; }
body.hideloading #worklist ul li:nth-child(7)  { transition-delay: 0.6s; }
body.hideloading #worklist ul li:nth-child(8)  { transition-delay: 0.65s; }
body.hideloading #worklist ul li:nth-child(9)  { transition-delay: 0.7s; }
body.hideloading #worklist ul li:nth-child(10)  { transition-delay: 0.75s; }
body.hideloading #worklist ul li:nth-child(11)  { transition-delay: 0.8s; }
body.hideloading #worklist ul li:nth-child(12)  { transition-delay: 0.85s; }

body.preloaded::after,
body.preloaded #header #logo,
body.preloaded #header #main-nav,
body.preloaded #page-loader .load-seq > p,
body.preloaded #page-content,
body.preloaded #worklist ul li {
  -webkit-transition: none !important;
	-moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body, body::after {
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 100% auto;
}
body::after { background-color: #fff; }
body { background-color: #1e1e1e; }

@media only screen and (max-width: 1140px) {
  #page-content {
    margin: 0;
    width: auto;
    height: auto;
    top: 0; bottom: 0;
    left: 50px; right: 50px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  #workinfos {
    float: none;
    height: 420px;
    position: absolute;
    left: 0; top: 100px;
  }
  #worklist {
    float: none;
    height: 100%;
    right: 0; top: 0;
    position: absolute;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 550px 10px 0 0;
    max-width: calc(100% - 300px);
  }
  #worklist:after { content: ''; height: 100%; display: block; }
  #worklist ul li a > span.scope { white-space: normal; }
}
