html, body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #4e4e4e;
    font-size: 18px;
    letter-spacing: 0.2px;
    vertical-align: baseline;
    background-color: #f8f8f8;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}
ol, ul { list-style: none; padding: 0; margin: 0; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }

#v2 { background-color: #e8ecef; padding: 50px; }
#v2 #left-bar {
    z-index: 10;
    position: fixed;
    left: 0; top: 0; bottom: 0;
    margin: 50px 0 0 100px;
}
#v2 #left-bar li#logo {
    margin-bottom: 20px;
    padding-bottom: 60px;
    background: url(logo-name.png) no-repeat left center;
    background-size: contain;
}
#v2 #left-bar li { padding-top: 20px; }
#v2 #left-bar li.indent { padding-left: 25px; }
#v2 #left-bar li.selected:before {
    width: 30px;
    color: #d8989e;
    font-size: 80%;
    content: '\25BA';
    margin-left: -30px;
    display: inline-block;
}
#v2 #left-bar a {
    color: inherit;
    font-size: 90%;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
#v2 #content {
    margin: auto;
    padding-left: 300px;
}
#v2 #content div.block {
    height: 320px;
    margin: 0 25px 50px;
    background-color: #fff;
    padding: 40px 40px 40px 65px;
}
#v2 #content div.block > img {
    float: left;
    width: auto;
    height: 100%;
    display: block;
    cursor: pointer;
}
#v2 #content div.block > div {
    text-align: left;
    overflow: hidden;
    padding: 0 0 0 40px;
}
#v2 #content div.block:nth-of-type(even) > img { float: right; }
#v2 #content div.block:nth-of-type(even) { padding: 40px 65px 40px 40px; }
#v2 #content div.block:nth-of-type(even) > div { text-align: right; padding: 0 40px 0 0; }
#v2 #content div.block h1 { font-size: 200%; font-weight: 600; }
#v2 #content div.block h3 { font-size: 160%; font-weight: 300; }
#v2 #content div.block a {
    color: #d8989e;
    font-size: 110%;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

#header {
    width: 100%;
    height: 90px;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 1px 0 1px #eee;
}
#header > div {
    width: 900px;
    height: 100%;
    margin: auto;
}
#header a#logo {
    float: left;
    width: 243px;
    height: 100%;
    display: block;
    background: url(logo.png) no-repeat top 15px left;
    background-size: auto 60px;
}
#header ul {
    margin: 0;
    height: 100%;
    float: right;
}
#header ul li {
    float: left;
    height: 100%;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Futura";
}
#header ul li.empty { width: 110px; }
#header ul li span {
    display: block;
    cursor: pointer;
    text-align: right;
    padding-top: 20px;
    line-height: 70px;
    text-shadow: 0 1px #f1f1f1;
}
#header ul li.selected span {
    color: #ca7d87;
    text-shadow: 0 1px rgba(202, 125, 135, 0.5);
    background: url(up-arrow.png) no-repeat center bottom 14px;
    background-size: 14px auto;
}

#container {
    width: 900px;
    position: absolute;
    top: 90px; left: 50%;
    margin-left: -450px;
}
div.arrow {
    margin: 0 auto;
    position: absolute;
    width: 1060px; height: 17px;
    left: 50%; margin-left: -530px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
}
div.arrow.left {
    top: 150px;
    background-position: center left;
    background-image: url(left-arrow.png);
}
div.arrow.right {
    bottom: 60px;
    background-position: center right;
    background-image: url(right-arrow.png);
}
#container:before, #container:after {
    display: block;
}

#container > div {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
#container ul {
    width: 10000px;
    position: relative;
    white-space: nowrap;
}
#container ul:after {
    clear: both;
    content: ' ';
    display: block;
}
#container ul li {
    float: left;
    width: 900px;
    height: auto;
    border: none;
    display: inline;
    padding: 120px 0;
    box-shadow: none;
    white-space: normal;
    list-style-type: none;
    box-sizing: border-box;
}

#container div.reflection { height: 240px; overflow-y: hidden; }
#container div.reflection:not(.reflected) { padding-bottom: 60px; }
#container div.reflection:after {
    clear: both;
    content: ' ';
    display: block;
}
#container div.reflection div.image {
    float: left;
    width: 243px;
    height: 100%;
    display: block;
    position: relative;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-size: contain;
}
#container div.reflection div.text {
    height: 100%;
    font-size: 18px;
    overflow: hidden;
    line-height: 27px;
    text-align: center;
    padding: 78px 50px 0;
    letter-spacing: 0.7px;
    box-sizing: border-box;
}
#container div.reflection div.text a {
    color: #ca7d87;
    text-decoration: none;
}
#bio { font-weight: 300; }
#bio div.image { background-image: url(display_pic.png); }

#container div.reflected {
    opacity: .3;
    position: relative;
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
}
#container div.reflected:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,045)));
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
}
#container div.construction {
    font-size: 18px;
    font-weight: 500;
    padding: 150px 0;
    text-align: center;
}

#container div.portfolio { min-height: 310px; }
#container div.portfolio img {
    width: 400px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
#container div.portfolio > div {
    padding: 0;
    width: 400px;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
#container div.portfolio:nth-child(even) > div {
    padding-right: 50px;
}
#container div.portfolio:nth-child(odd) > div {
    padding-left: 50px;
}
#container div.portfolio:not(:first-child) {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #dcdcdc;
}
#container div.portfolio h1, #container div.full-portfolio h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
#container div.portfolio h1 { margin: 0 -10px; }
#container div.portfolio h3, #container div.full-portfolio h3 {
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
}
#container div.portfolio h1 { text-align: inherit; }
#container div.portfolio h3 { text-align: inherit; }
#container li[tab='portfolio'] div a {
    color: #ca7d87;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: lowercase;
    font-family: "Avenir";
}
#container div.portfolio > div > a:hover, #container div.full-portfolio a:hover {
    border-bottom: 1px solid #ca7d87;
}
#container div.full-portfolio img {
    width: 99%;
    height: auto;
    display: block;
    margin: 50px auto;
    position: relative;
    border: 1px solid #e0e0e0;
}
#container li[tab='process'] div.full-portfolio img { margin-bottom: 100px; }
#container div.full-portfolio span.separator {
    height: 1px;
    width: 100%;
    display: block;
    background-color: #dcdcdc;
}
#container div.full-portfolio p {
    font-weight: 300;
    line-height: 1.35;
    text-align: justify;
    padding: 10px 50px 30px;
}
#container li[tab='portfolio'] div[name] {
    position: relative;
    padding-bottom: 50px;
}
#container li[tab='portfolio'] div[name] > a {
    bottom: 0;
    width: 200px;
    display: block;
    position: absolute;
}
#container li[tab='portfolio'] div[name] > a.prev { text-align: left; left: 5%; }
#container li[tab='portfolio'] div[name] > a.next { text-align: right; right: 5%; }
#container li[tab='portfolio'] div[name] > a.back { text-align: center; left: 50%; margin-left: -100px; }
