html, body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #4e4e4e;
  font-size: 18px;
  letter-spacing: 0.2px;
  vertical-align: baseline;
  background-color: #f8f8f8;
  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}
ol, ul { list-style: none; padding: 0; margin: 0; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }

#v2 {
  font-size: 0.88em;
  letter-spacing: normal;
  background-color: #fff;
  font-family: 'Raleway', 'Questrial', sans-serif;
}
#v2 a { color: #c18188; text-decoration: none; }
#v2 a:hover { text-decoration: underline; }
#v2 div#main-header {
  z-index: 100;
  height: 60px;
  position: fixed;
  background-color: #fff;
  top: 0; left: 0; right: 0;
}
#v2 div#main-header.scrolled { box-shadow: 0 1px 2px 1px #e0e0e0; }
#v2 div#main-header > div { padding: 0 50px; width: auto; }
#v2 div#main-header > div > div {
  width: 50px;
  height: 60px;
  cursor: pointer;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}
#v2 div#logo {
  float: left;
  background-size: auto 44px;
  background-position: bottom left;
  background-image: url(logo.png);
}
#v2 div#settings {
  float: right;
  transition: all 0.3s ease;
  background-image: url(settings.png);
  background-size: auto 26px !important;
  background-position: center right;
}
#v2 div#settings:hover, #v2 div#settings.selected {
  background-size: auto 26px !important;
  background-image: url(left_arrow.png);
}
#v2 div#settings.selected {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#v2 div#main-header ul {
  z-index: -1;
  width: 200px;
  position: fixed;
  padding: 100px 50px 50px;
  background-color: rgba(0,0,0,0.85);
  transition: all 0.3s ease;
  top: 0; right: -300px; bottom: 0;
}
#v2 div#settings.selected + ul { right: 0; }
#v2 div#main-header ul > li {
  color: white;
  cursor: pointer;
  font-size: 150%;
  padding: 25px 0;
}
#v2 div#main-header ul > li.selected { color: #c18188; }

#v2 > div:nth-child(odd) { background-color: #efefef; }
#v2 > div > div {
  margin: auto;
  width: 1200px;
  padding: 100px 75px;
  box-sizing: border-box;
}
#v2 div.about > div {
  width: 800px;
  padding: 150px 0;
  text-align: center;
}
#v2 div.about h1 { color: #c18188; font-size: 3.7em; font-weight: 300; margin: 0 0 20px; }
#v2 div.about p { color: #666; font-size: 1.5em; line-height: 1.35em; margin: 0; padding: 0; }
#v2 div.about a { margin-top: 10px; display: inline-block; }

#v2 div.portfolio-item > div:after {
  height: 0;
  clear: both;
  content: ' ';
  display: block;
}
#v2 div.portfolio-item img {
  float: left;
  width: 500px;
  display: block;
}
#v2 div.portfolio-item img + div {
  width: 500px;
  float: right;
  position: relative;
}
#v2 div.portfolio-item h1 { margin: 0; }
#v2 div.portfolio-item h3 { margin: 50px 0; }
#v2 div.portfolio-item a { position: absolute; bottom: 0; }
#v2 div.portfolio-item:nth-child(even) img { float: right; }
#v2 div.portfolio-item:nth-child(even) img + div { float: left; }

#header {
    width: 100%;
    height: 90px;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 1px 0 1px #eee;
}
#header > div {
    width: 900px;
    height: 100%;
    margin: auto;
}
#header a#logo {
    float: left;
    width: 243px;
    height: 100%;
    display: block;
    background: url(logo.png) no-repeat top 15px left;
    background-size: auto 60px;
}
#header ul {
    margin: 0;
    height: 100%;
    float: right;
}
#header ul li {
    float: left;
    height: 100%;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Futura";
}
#header ul li.empty { width: 110px; }
#header ul li span {
    display: block;
    cursor: pointer;
    text-align: right;
    padding-top: 20px;
    line-height: 70px;
    text-shadow: 0 1px #f1f1f1;
}
#header ul li.selected span {
    color: #ca7d87;
    text-shadow: 0 1px rgba(202, 125, 135, 0.5);
    background: url(up-arrow.png) no-repeat center bottom 14px;
    background-size: 14px auto;
}

#container {
    width: 900px;
    position: absolute;
    top: 90px; left: 50%;
    margin-left: -450px;
}
div.arrow {
    margin: 0 auto;
    position: absolute;
    width: 1060px; height: 17px;
    left: 50%; margin-left: -530px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
}
div.arrow.left {
    top: 150px;
    background-position: center left;
    background-image: url(left-arrow.png);
}
div.arrow.right {
    bottom: 60px;
    background-position: center right;
    background-image: url(right-arrow.png);
}
#container:before, #container:after {
    display: block;
}

#container > div {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
#container ul {
    width: 10000px;
    position: relative;
    white-space: nowrap;
}
#container ul:after {
    clear: both;
    content: ' ';
    display: block;
}
#container ul li {
    float: left;
    width: 900px;
    height: auto;
    border: none;
    display: inline;
    padding: 120px 0;
    box-shadow: none;
    white-space: normal;
    list-style-type: none;
    box-sizing: border-box;
}

#container div.reflection { height: 240px; overflow-y: hidden; }
#container div.reflection:not(.reflected) { padding-bottom: 60px; }
#container div.reflection:after {
    clear: both;
    content: ' ';
    display: block;
}
#container div.reflection div.image {
    float: left;
    width: 243px;
    height: 100%;
    display: block;
    position: relative;
    padding: 0 !important;
    background-repeat: no-repeat;
    background-size: contain;
}
#container div.reflection div.text {
    height: 100%;
    font-size: 18px;
    overflow: hidden;
    line-height: 27px;
    text-align: center;
    padding: 78px 50px 0;
    letter-spacing: 0.7px;
    box-sizing: border-box;
}
#container div.reflection div.text a {
    color: #ca7d87;
    text-decoration: none;
}
#bio { font-weight: 300; }
#bio div.image { background-image: url(display_pic.png); }

#container div.reflected {
    opacity: .3;
    position: relative;
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
}
#container div.reflected:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,045)));
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 75%, rgba(255,255,255,0.4) 100%);
}
#container div.construction {
    font-size: 18px;
    font-weight: 500;
    padding: 150px 0;
    text-align: center;
}

#container div.portfolio { min-height: 310px; }
#container div.portfolio img {
    width: 400px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
#container div.portfolio > div {
    padding: 0;
    width: 400px;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
#container div.portfolio:nth-child(even) > div {
    padding-right: 50px;
}
#container div.portfolio:nth-child(odd) > div {
    padding-left: 50px;
}
#container div.portfolio:not(:first-child) {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #dcdcdc;
}
#container div.portfolio h1, #container div.full-portfolio h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
#container div.portfolio h1 { margin: 0 -10px; }
#container div.portfolio h3, #container div.full-portfolio h3 {
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    letter-spacing: 1px;
}
#container div.portfolio h1 { text-align: inherit; }
#container div.portfolio h3 { text-align: inherit; }
#container li[tab='portfolio'] div a {
    color: #ca7d87;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: lowercase;
    font-family: "Avenir";
}
#container div.portfolio > div > a:hover, #container div.full-portfolio a:hover {
    border-bottom: 1px solid #ca7d87;
}
#container div.full-portfolio img {
    width: 99%;
    height: auto;
    display: block;
    margin: 50px auto;
    position: relative;
    border: 1px solid #e0e0e0;
}
#container li[tab='process'] div.full-portfolio img { margin-bottom: 100px; }
#container div.full-portfolio span.separator {
    height: 1px;
    width: 100%;
    display: block;
    background-color: #dcdcdc;
}
#container div.full-portfolio p {
    font-weight: 300;
    line-height: 1.35;
    text-align: justify;
    padding: 10px 50px 30px;
}
#container li[tab='portfolio'] div[name] {
    position: relative;
    padding-bottom: 50px;
}
#container li[tab='portfolio'] div[name] > a {
    bottom: 0;
    width: 200px;
    display: block;
    position: absolute;
}
#container li[tab='portfolio'] div[name] > a.prev { text-align: left; left: 5%; }
#container li[tab='portfolio'] div[name] > a.next { text-align: right; right: 5%; }
#container li[tab='portfolio'] div[name] > a.back { text-align: center; left: 50%; margin-left: -100px; }
