@import "https://fonts.googleapis.com/css?family=Playfair+Display|Raleway";

* {
	margin:0;
	padding: 0;
	border: 0;
	outline: 0;
}

h1 {
	color: inherit;
	font-family: 'Playfair Display', serif;
	font-weight: 100;
	font-style: normal;
	padding-bottom: 50px;
	font-size: 32px;
	line-height: 1em;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}

#header ul {
	margin: auto;
	list-style: none;
	max-width: 1200px;
	padding: 10px 100px;
	font-family: 'Raleway';
	box-sizing: content-box;
}

#header ul li {
	float: right;
	height: 50px;
	font-size: 13px;
	line-height: 50px;
	margin-left: 50px;
	white-space: nowrap;
}
#header ul li#logo {
	float: none;
	margin-left: 0;
	overflow: hidden;
	background: url(Logo-gray.svg) no-repeat left;
	background-size: contain;
}
#hero[style] #header ul li#logo {
	background-image: url(Logo-white.svg);
}

#header ul li a, div.portfolio-item > div > div a {
	opacity: 0.6;
	color: inherit;
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1em !important;
}
#header ul li a:after, div.portfolio-item > div > div a:after {
	opacity: 0;
	content: '';
	position: absolute;
	left: 8px; right: 8px;
	bottom: -8px; height: 1px;
	background-color: #1c1c1c;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-ms-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
#header ul li a:hover:after, div.portfolio-item > div > div a:hover:after, #header ul li a.selected:after,
#header ul li a:hover, div.portfolio-item > div > div a:hover, #header ul li a.selected { opacity: 1; }

#hero {
	color: #1c1c1c;
	font-size: 15px;
	min-height: 100%;
	overflow-y: hidden;
	box-sizing: border-box;
}

div.portfolio-item > div {
	margin: auto;
	padding: 50px 0;
	max-width: 1200px;
	font-family: 'Raleway';
}
div.portfolio-item > div:after {
	content: '';
	clear: both;
	display: block;
}
div.portfolio-item > div > * {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
}
div.portfolio-item > div img { width: 100%; }
div.portfolio-item > div > div {
	font-size: 15px;
	line-height: 1.5em;
	padding-left: 50px;
	height: auto !important;
}
div.portfolio-item > div > div > a {
	font-size: 0.75em;
	margin-top: 20px;
	display: inline-block;
}

div.content {
	margin: auto;
	color: #1c1c1c;
	padding: 70px 0;
	max-width: 1200px;
	text-align: center;
	font-family: 'Raleway';
}
div.content.smaller { max-width: 800px; }
#hero[style], #hero[style] div.content { color: #fff; padding-bottom: 0; }
#hero[style] #header ul li a:after { background-color: #fff; }

div.content p {
	margin: auto;
	max-width: 800px;
	box-sizing: border-box;
  margin-bottom: 30px;
  line-height: 1.5em;
}
div.content p:last-child { margin-bottom: 0; }
div.content p.quotes {
	opacity: 0.4;
	padding: 0 60px;
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 100;
	font-size: 1.2em;
}
div.content p.attribution {
	opacity: 0.4;
	text-align: right;
	font-size: 0.9em;
	font-weight: 100;
	padding: 0 60px;
}
div.content img + p.attribution { padding: 0; }
div.content img { width: 100%; }
div.content img.small { width: auto; }
div.content img.smaller {
	margin: auto;
	max-width: 800px;
}
div.content img.smaller.small { max-width: 600px; }
div.content img.half-width  {
	float: left;
	width: 40%;
	margin: 20px 5% 0;
}
div.content img.with-shadow {
	box-shadow: rgba(169, 169, 169, 0.3) 0 0 96px 14px;
}
div.content img:not(.half-width) + img, div.content br + img { margin-top: 50px; }
div.content img + br { clear: both; }
div.content img + h1 { padding-top: 70px; }

#hero div.content { padding-top: 20px; }
#hero div.content img {
	width: 900px;
	display: block;
	margin: auto;
}

body > div:nth-child(even) {
	background: #fafafa;
}

#challenges ul {
	text-align: center;
	max-width: 1200px;
	padding: 45px 0;
	margin: 0 auto;
}

#challenges ul li {
	width: 33%;
	font-size: 14px;
	padding: 25px 20px;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	font-family: Raleway;
}
#challenges ul li.heading { vertical-align: middle; }
#challenges ul li.heading h1 { padding: 0; }

#challenges ul li p {
	color: #494949;
	font-weight: 200;
	line-height: 1.5em;
}


ul#flows-image {
	max-width: 1200px;
	margin: 50px auto 0;
}

ul#flows-image li {
	width: 20%;
	display: inline-block;
	box-sizing: border-box;
}

ul#flows-image li h3 {
	margin-top: 30px;
	white-space: nowrap;
}

ul#flows-image li img{
	width: 60%;
	margin: auto;
}

#elevate-documentation div.content img {
	width: 70%;
	z-index: 1;
	float: left;
	position: relative;
}
#elevate-documentation div.content img:last-of-type {
	z-index: 0;
	float: right;
	margin-top: -80px;
}
