@import "https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans";
@import url(font-awesome.min.css);

html { font-size: 14px; overflow-x: hidden; }
body {
	width: 100%;
	position: relative;
	-webkit-transition: margin 0.25s ease-in;
	-moz-transition: margin 0.25s ease-in;
	-ms-transition: margin 0.25s ease-in;
	-o-transition: margin 0.25s ease-in;
	transition: margin 0.25s ease-in;
}
ul li#mobile-menu > a {
	width: 26px;
	height: 100%;
	display: inline-block;
	background: url(hamburger.svg) no-repeat center right;
	background-size: contain;
}
body.hamburger { margin-left: -70%; }
body.hamburger ul li#mobile-menu a { background-image: url(close.svg); }
#hero[style] ul li#mobile-menu > a { background-image: url(hamburger-w.svg); }
body.hamburger #hero[style] ul li#mobile-menu > a { background-image: url(close-w.svg); }

* {
	margin:0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Open Sans', sans-serif;
}

div[href], h1[href], li[href] { cursor: pointer; }
img.with-shadow { box-shadow: rgba(169, 169, 169, 0.2) 0 0 30px 12px; }
h1 {
	color: inherit;
	font-family: 'Playfair Display', serif;
	font-weight: 100;
	font-style: normal;
	padding-bottom: 50px;
	font-size: 2rem;
	line-height: 1em;
}
h3 {
	font-weight: 100;
	font-size: 1.13rem;
	padding-bottom: 10px;
}
p { line-height: 1.7em; font-weight: 100; }

#header ul {
	margin: auto;
	padding: 10px 0;
	list-style: none;
	max-width: 1200px;
	box-sizing: content-box;
}

#header ul li {
	float: right;
	height: 50px;
	font-size: 0.88rem;
	line-height: 50px;
	margin-left: 50px;
	white-space: nowrap;
}
#header ul li#mobile-menu, #mobile-menu-list { display: none; }
#header ul li#logo {
	float: none;
	margin-left: 0;
	overflow: hidden;
	background: url(Logo-gray.svg) no-repeat left;
	background-size: auto 90%;
}
#header ul li#logo > a { height: 100%; width: 50px; }
#hero[style] #header ul li#logo {
	background-image: url(Logo-white.svg);
}

#header ul li a, div.portfolio-item > div > div a, div#footer > div[href] > span, #mobile-menu-list > li > a {
	opacity: 0.75;
	color: inherit;
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1em !important;
}
#header ul li a:after, div.portfolio-item > div > div a:after, div#footer > div[href] > span:after, #mobile-menu-list > li > a:after {
	opacity: 0;
	content: '';
	position: absolute;
	left: 8px; right: 8px;
	bottom: -8px; height: 1px;
	background-color: #1c1c1c;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	-ms-transition: opacity 0.6s;
	-o-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
#header ul li a:hover:after, #header ul li a:hover,
#header ul li a.selected:after, #header ul li a.selected,
div.portfolio-item > div > div:hover a:after, div.portfolio-item > div > div:hover a,
#mobile-menu-list > li > a:hover:after, #mobile-menu-list > li > a:hover,
#mobile-menu-list > li > a.selected:after, #mobile-menu-list > li > a.selected,
div#footer > div[href]:hover > span:after, div#footer > div[href]:hover > span { opacity: 1; }
#header ul li#mobile-menu a:hover:after { opacity: 0; }
#header ul li#mobile-menu a:hover { opacity: 0.75; }

div#footer {
	margin: auto;
	color: #1c1c1c;
	max-width: 1200px;
	font-size: 0.88rem;
	background-color: #fff;
}
div#footer > div {
	min-height: 1px;
	text-align: center;
	position: relative;
	background-color: #ededed;
}
div#footer > div[href] > span { margin: 12px; }
div#footer > div[href] > span:before { content: 'Next Project'; }
div#footer > div[href] > span:after { bottom: -6px; }
div#footer > ul {
	padding: 20px 0;
	list-style: none;
}
div#footer > ul:after {
	content: '';
	clear: both;
	display: block;
}
div#footer > ul > li:first-child { float: left; }
div#footer > ul > li:last-child { float: right; }
div#footer > ul a {
	opacity: 0.6;
	color: inherit;
	font-size: 1.25em;
	margin-left: 10px;
	text-decoration: none;
}
div#footer > ul a:hover {
	opacity: 1;
}

#hero {
	color: #1c1c1c;
	overflow-y: hidden;
	box-sizing: border-box;
}

div.portfolio-item > div {
	margin: auto;
	padding: 50px 0;
	max-width: 1200px;
}
div.portfolio-item > div.no-padding {
	padding: 0 100px;
	overflow: hidden;
}
div.portfolio-item > div.more-padding { padding: 100px 0; }
div.portfolio-item > div.small-img > a { padding: 0 30px; }
div.portfolio-item > div:after {
	content: '';
	clear: both;
	display: block;
}
div.portfolio-item > div > * {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
}
div.portfolio-item > div img { width: 100%; display: block; }
div.portfolio-item > div > div a { font-size: 0.88rem; }
div.portfolio-item > div > div {
	padding-left: 50px;
	height: auto !important;
}
div.portfolio-item > div > div > a {
	margin-top: 20px;
	display: inline-block;
}

div.content {
	margin: auto;
	color: #1c1c1c;
	padding: 70px 0;
	max-width: 1200px;
	text-align: center;
}
div.content:after {
	content: '';
	clear: both;
	display: block;
}
div.content.smaller { max-width: 800px; }
#hero[style], #hero[style] div.content { color: #fff; padding-bottom: 0; }
#hero[style] #header ul li a:after { background-color: #fff; }

div.content p {
	margin: auto;
	max-width: 800px;
	margin-bottom: 30px;
	box-sizing: border-box;
}
div.content p a {
	opacity: 0.7;
	color: inherit;
	text-decoration: none;
}
div.content p a:hover {
	opacity: 1;
	text-decoration: underline;
}
div.content p span.bullet { display: block; text-align: left; }
div.content p span.bullet:before {
	content: '';
	width: 4px;
	height: 4px;
	border-radius: 50%;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	background-color: #1c1c1c;
}
div.content p span.bullet:first-of-type { padding-top: 10px; }
div.content p span.bullet:last-of-type { padding-bottom: 10px; }
div.content p:last-child { margin-bottom: 0; }
div.content p.quotes {
	opacity: 0.4;
	padding: 0 60px;
	font-style: italic;
	font-weight: 100;
	font-size: 1.13em;
}
div.content p.quotes:before { content: '“'; }
div.content p.quotes:after { content: '”'; }
div.content p.attribution {
	opacity: 0.4;
	text-align: right;
	font-size: 0.9em;
	font-weight: 100;
	padding: 0 60px;
}
div.content p.half-width {
	width: 50%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}
div.content p[title]:before {
	display: block;
	font-size: 1.2em;
	text-align: left;
	content: attr(title);
	font-family: 'Open Sans', sans-serif;
}
div.content p.half-width + br { clear: both; }

div.content img + p.attribution { padding: 0; }
div.content img { width: 100%; }
div.content img.no-expand { width: auto; max-width: 100%; }
div.content img.smaller {
	margin: auto;
	max-width: 800px;
}
div.content img.smaller.small { max-width: 600px; }
div.content img.half-width {
	float: left;
	width: 40%;
	margin: 20px 5% 0;
}
div.content img:not(.half-width) + img, div.content br + img { margin-top: 50px; }
div.content img + br { clear: both; }
div.content img + h1 { padding-top: 70px; }
div.content img.overlap {
	width: 70%;
	z-index: 1;
	float: left;
	position: relative;
}
div.content img.overlap + img.overlap {
	z-index: 0;
	float: right;
	margin-top: -12%;
}

#hero div.content { padding-top: 20px; }
#hero div.content img {
	width: 900px;
	display: block;
	margin: auto;
}

body > div:nth-of-type(even) {
	background: #fafafa;
}

#challenges div.content { display: none; }
#challenges ul {
	text-align: center;
	max-width: 1200px;
	padding: 45px 0;
	margin: 0 auto;
}

#challenges ul li {
	width: 33%;
	padding: 25px 20px;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
}
#challenges ul li.heading { vertical-align: middle; }
#challenges ul li.heading h1 { padding: 0; }

ul#flows-image {
	max-width: 1200px;
	margin: 30px auto 0;
}

ul#flows-image li {
	width: 20%;
	margin-top: 20px;
	display: inline-block;
	box-sizing: border-box;
}

ul#flows-image li h3 {
	margin-top: 1.5em;
	white-space: nowrap;
}

ul#flows-image li img{
	width: 60%;
	margin: auto;
}
#solutions-wireframes div.content img.half-width  {
	width: 50%;
	float: none;
	margin: 20px 0 0;
	display: inline-block;
	vertical-align: middle;
}
table#about {
	width: 80%;
	margin: auto;
	table-layout: fixed;
}
table#about tr > td { text-align: left; }
table#about tr > td:first-child { width: 60%; padding-right: 3%; }
table#about tr > td > img { width: 100% !important; }
table#about tr > td p.attribution { padding-right: 0; }

@media only screen and (max-width: 1250px) {
	body > div { padding-left: 25px; padding-right: 25px; }
}
@media only screen and (max-width: 1000px) {
	#hero div.content img { width: 100%; }
	div.content p.quotes { font-size: 1em; }
}
@media only screen and (max-width: 800px) {
	html { font-size: 13px; }
	body.hamburger #mobile-menu-list {
		padding: 30px;
		display: block;
		list-style: none;
		position: absolute;
		top: 0; left: 100%;
	}
	#mobile-menu-list > li {
		font-size: 1rem;
		padding-bottom: 20px;
		text-transform: uppercase;
	}
	h1 { line-height: 1.3em; }
	#header ul > li:not(#logo) { display: none; }
	#header ul li#mobile-menu { display: list-item; }
	#hero > div.content p > br { display: none; }
	div.portfolio-item > div > * { width: auto; display: block; }
	div.portfolio-item > div > div { padding-left: 0; padding-top: 50px; text-align: center; }
	div.content p.quotes, div.content p.quotes + p.attribution { padding: 0 10px; }
	div.content p.half-width { float: none; width: auto; padding-left: 25px; padding-right: 25px; }
	div.content p a { opacity: 1; text-decoration: underline; }
	ul#flows-image { margin: 30px -20px 0; }
	ul#flows-image li { width: 33%; }
	ul#flows-image li h3 { font-size: 0.8em; margin-left: -10px; margin-right: -10px; }
	ul#flows-image li:nth-child(4), ul#flows-image li:nth-child(5) { margin: 20px 15px 0; }
	#challenges div.content { display: block; padding-bottom: 0; }
	#challenges ul { padding-top: 0; }
	#challenges ul li { display: block; width: auto; }
	#challenges ul li.heading { display: none; }
	table#about { padding: 0; width: 100%; }
	table#about tr > td { display: block !important; padding: 0; width: 100%; }
	table#about tr > td:first-child { width: 100%; padding: 0 0 30px; }
	table#about tr:not(:first-child) { display: none !important; }
	div#footer > ul a { margin-left: 25px; }
}
